Usage of HTTP methods

What's up with the weird usage of the POST method all over the place? :stuck_out_tongue_closed_eyes: 

> The request method token is the primary source of request semantics; it indicates the purpose for which the client has made this request and what is expected by the client as a successful result.

HTTP has this notion of safe- and idempotent methods (see [section 4.2 of RFC 7231](http://tools.ietf.org/html/rfc7231#section-4.2)), and POST is neither.

I suggest most calls (that doesn't alter the state of the system) are converted to GET so they convey the correct semantics.

Oh, I see @filipw also has suggested this over at https://github.com/OmniSharp/omnisharp-roslyn/issues/77#issuecomment-74320041 :smile:

Yes.... I realise everything that you have said is true and accurate - GET must be idempotent, POST isn't guaranteed to be. 

Having said that... I'm not a REST purist.... this isn't meant to be a an example of how to structure a REST service, and never has been...... it's RPC only.

The clients make POST requests for everything, just cos it's easier to have one method that handles everything. I don't care about GET being cacheable by a proxy server or some such.

Most requests do modify state however and aren't idempotent. 

If this were to change (and maybe it should), then all the the clients will need to be changed too.

fwiw... shit like this makes me wish I'd never used http in the first place.

The v1 protocol needs to remain as is. If we do anything it will be a v2 API.